.id-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  margin: 10px;
}
.id-card p {
  font-size: 14px;
}
.greetings {
  border: 1px solid black;
  margin: 10px;
}
.random {
  border: 1px solid black;
  margin: 10px;
}
